In [14]:
import pandas as pd
data = pd.read_csv('data_fs.dat', delim_whitespace=True, decimal=",")
dataset = [data['id'], data['x'], data['y'], data['z'], data['e'], data['fwhm_x'], data['fwhm_y'], data['co_max'], data['cx_max']]

In [15]:
data = data.drop(['tilt', 'xpd', 'sub_spill', 'main_spill'], axis=1)
data

       id         x         y   z    fwhm_x    fwhm_y         e  co_max cx_max
0      21 -0.316965  0.326756  50  0.398546  0.365183  1.091361   53.84   13,1
1      42 -0.318192  0.272044  50  0.364137  0.398634  1.094738   53.86  12,79
2      63 -0.319138  0.217441  50  0.364608  0.396464  1.087371   53.88  12,11
3      83 -0.320197  0.163140  45  0.361428  0.384678  1.064326   54.07  12,21
4     103 -0.321053  0.108822  40  0.358714  0.376443  1.049424   54.20   11,6
..    ...       ...       ...  ..       ...       ...       ...     ...    ...
164  3464  0.329983 -0.108774  45  0.351460  0.385294  1.096266   54.17  12,91
165  3486  0.330462 -0.163029  50  0.351985  0.395278  1.122996   54.04  13,01
166  3507  0.331717 -0.217468  50  0.351115  0.398046  1.133661   54.02  12,87
167  3528  0.333326 -0.271998  50  0.350770  0.401112  1.143520   53.99  13,38
168  3549  0.335293 -0.326679  50  0.350950  0.404582  1.152821   53.95  13,95

[169 rows x 9 columns]

In [18]:
data['x'].max()

0.335293